#detail_view {
    background-color: #132d4d;
    color: whitesmoke;

    &__rank {
        align-items: center;
    }

    .detail_view__label {
        color: #516b8a;
        font-size: 0.8rem;
        font-weight: bold;
        font-kerning: auto;
    }

    .detail__card {
        padding: 1rem 0rem;

        &__value {
            color: whitesmoke;
            font-size: 1.2rem;
            font-weight: bold;
            font-kerning: auto;
        }

        &__symbol {
            font-size: 0.8rem;
            vertical-align: 0.1rem;
            color: #00bb68
        }
    }

}


.is-vertical-center {
    display: flex;
    align-items: center;
}

.rank-circle {
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: #516b8a;
    border-radius: 50%;
    vertical-align: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    color: #82bceb;
    font-size: 0.8rem;
    font-weight: bold;
}

