@import '../../node_modules/bulma/bulma';

.negative-cap {
    color: darkred;
}

.positive-cap {
    color: darkgreen;
}

.table td {

    vertical-align: middle;

    &.td-center {
        display: flex;
        align-items: center;
    }
}

.currency-name {
    margin-left: 1rem;
}

.currency-rank {
    margin-right: 1rem;
}